.foto{
    width: 40%;
}

body{
    background-color:#98FB98;
    display: flex;
    margin: 12px;
        align-items: center;
    justify-content: space-evenly;
}

div{
        margin: 20px;
    padding: 20px;
}